<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>To-Do list</title>
</head>
<body>
  <h1 class="title">To-Do list</h1>
  
  <form action="/addTodo" method="post">
    <input type="text" name="task" placeholder="task">
    <input type="submit">
  </form>

  <ul class="list">
    <% for(let i=0; i < info.length; i++) {%>
      <li class="item">
          <% if(info[i].completed === true){ %>
            <span class="completed"><%= info[i].task %></span>
          <% } else{ %>  
            <span><%= info[i].task %></span>
          <% } %>
          <span class="complete btn"><img src="img/check.svg" alt="mark complete button"></span>
          <span class="uncomplete btn"><img src="img/uncheck.svg" alt="mark uncomplete button"></span>
          <span class="delete btn"><img src="img/delete.svg" alt="delete button"></span>
      </li>
  <% } %>
  </ul>

  <script src="app.js"></script>
</body>
</html>