@import url("../../../node_modules/bootstrap-icons/font/bootstrap-icons.css");


.btn {
  cursor: pointer;
  margin-left: 10px;
}

.btn img {
  width: 16px;
  height: 16px;
}

.item {
  display: flex;
}

.completed {
  text-decoration: line-through;
}